version: "3.9"

services:
  postgres:
    image: postgres:16-alpine
    container_name: medbooker_postgres_dev
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: medbooker_backend_dev
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - postgres

  telegram_bot:
    build:
      context: ./bot
      dockerfile: Dockerfile.dev
    container_name: medbooker_bot_dev
    volumes:
      - ./bot:/app
    env_file:
      - ./bot/.env
    depends_on:
      - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    container_name: medbooker_frontend_dev
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    depends_on:
      - backend

volumes:
  postgres_data_dev: